In [32]:
import jarvis

ex = jarvis.Experiment('taxi')
ex.groundClient('ground')

tr_data = ex.artifact('train_df.csv')

tr_data2 = ex.artifact('train.csv')

te_data = ex.artifact('test_df.csv')

# What model should I use to predict the duration of a car ride? Idk... try many of them?

# look at the data that I have

# The duration of the cab ride depends on the distance and time of day.

# Feature engineering step: get manhattan distance from coordinates start to coordinates end

# But first, let's get the data into a format that's easy to work with

#Forgot to set the name!
jarvis.setNotebookName('Taxi.ipynb')

@jarvis.func
def dataframize(csvpath):
    import pandas as pd
    return pd.read_csv(csvpath)


do_dfize = ex.action(dataframize, [tr_data2])

tr_data_df = ex.artifact('train_df.pkl', do_dfize)

@jarvis.func
def calculate_distance(data_df):
    def manhattan_distance(x1, y1, x2, y2):
        return abs(x1 - x2) + abs(y1 - y2)
    data_df['distance'] = [ i for i in map(manhattan_distance, data_df['pickup_longitude'], data_df['pickup_latitude'], 
                                           data_df['dropoff_longitude'], data_df['dropoff_latitude'])]
    return data_df

# Trimmed some Notebook Cells without losing the log.

# Other thing with Nb. variables continue to exist even after cell has been clipped.

do_calc_dist = ex.action(calculate_distance, [tr_data_df])
tr_data_dist_df = ex.artifact('train_dist_df.pkl', do_calc_dist)

@jarvis.func
def preproc(train_data):
    import numpy as np
    # https://www.kaggle.com/stephaniestallworth/nyc-taxi-eda-regression-fivethirtyeight-viz/notebook
    train_data = train_data[train_data['passenger_count']>0]
    train_data = train_data[train_data['passenger_count']<9]

    # Remove coordinate outliers
    train_data = train_data[train_data['pickup_longitude'] <= -73.75]
    train_data = train_data[train_data['pickup_longitude'] >= -74.03]
    train_data = train_data[train_data['pickup_latitude'] <= 40.85]
    train_data = train_data[train_data['pickup_latitude'] >= 40.63]
    train_data = train_data[train_data['dropoff_longitude'] <= -73.75]
    train_data = train_data[train_data['dropoff_longitude'] >= -74.03]
    train_data = train_data[train_data['dropoff_latitude'] <= 40.85]
    train_data = train_data[train_data['dropoff_latitude'] >= 40.63]

    # Remove trip_duration outliers
    trip_duration_mean = np.mean(train_data['trip_duration'])
    trip_duration_std = np.std(train_data['trip_duration'])
    train_data = train_data[train_data['trip_duration']<=trip_duration_mean + 2*trip_duration_std]
    train_data = train_data[train_data['trip_duration']>= trip_duration_mean - 2*trip_duration_std]
    train_data = train_data[train_data['trip_duration'] >= 30]
    train_data = train_data[train_data['trip_duration'] <= 60*240]
    
    return train_data

do_preproc = ex.action(preproc, [tr_data_dist_df])
tr_ready = ex.artifact('train_ready.pkl', do_preproc)

@jarvis.func
def split(data_df):
    X = data_df[['vendor_id', 'passenger_count', 'pickup_longitude',
        'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'store_and_fwd_flag', 'pickup_datetime', 'distance']]
    y = data_df['trip_duration']
    
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
    
    return X_train, X_test, y_train, y_test

do_split = ex.action(split, [tr_ready])
xTrain = ex.artifact('xTrain.pkl', do_split)
xTest = ex.artifact('xTest.pkl', do_split)
yTrain = ex.artifact('yTrain.pkl', do_split)
yTest = ex.artifact('yTest.pkl', do_split)

@jarvis.func
def train(data_df, trainingy):
    from sklearn.linear_model import LinearRegression
    from sklearn.preprocessing import StandardScaler
    from sklearn.ensemble import RandomForestRegressor
    
    data_df['duration'] = trainingy
    
    def roundtime(tstring):
        hours, mins, secs = tstring.split(':')
        if int(mins) >= 30:
            if hours == '23':
                return '00'
            else:
                return str(int(hours) + 1)
        else:
            return hours
    
    def weekday(start):
        from datetime import datetime
        fmt = '%Y-%m-%d %H:%M:%S'
        tstamp = datetime.strptime(start, fmt)
        return int(tstamp.weekday())
    
    data_df['start_hr'] = data_df['pickup_datetime'].apply(lambda x: int(roundtime(x.split(' ')[1])))
    data_df['start_month'] = data_df['pickup_datetime'].apply(lambda x: int(x.split(' ')[0].split('-')[1]))
    data_df['start_weekday']= data_df['pickup_datetime'].apply(lambda x: weekday(x))
    
    import math
    
    clf = RandomForestRegressor(n_estimators=20, n_jobs=3)
    #clf = LinearRegression()
    scaler = StandardScaler()
    # Scaler does not help
    #scaler.fit(data_df[['vendor_id', 'start_hr', 'start_month', 'start_weekday', 'distance']].values)
    clf.fit(data_df[['vendor_id', 'start_hr', 'start_month', 'start_weekday', 'distance', 
                     'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
                    'dropoff_latitude']].values, data_df['duration'].values )
    return clf, scaler

do_train = ex.action(train, [xTrain, yTrain])
model = ex.artifact('model.pkl', do_train)
scaler = ex.artifact('scaler.pkl', do_train)

do_te_dfize = ex.action(dataframize, [te_data])
te_data_df = ex.artifact('test_df.pkl', do_te_dfize)

do_te_calcdist = ex.action(calculate_distance, [te_data_df])
te_data_dist_df = ex.artifact('test_dist_df.pkl', do_te_calcdist)

@jarvis.func
def calculate_duration(data_df):
    def tdiff(start, end):
        from datetime import datetime
        fmt = '%Y-%m-%d %H:%M:%S'
        tstamp1 = datetime.strptime(start, fmt)
        tstamp2 = datetime.strptime(end, fmt)

        if tstamp1 > tstamp2:
            td = tstamp1 - tstamp2
        else:
            td = tstamp2 - tstamp1
        return int(td.total_seconds())
    data_df['duration'] = [i for i in map(tdiff, data_df['pickup_datetime'], data_df['dropoff_datetime'])]
    return data_df



do_te_calcdur = ex.action(calculate_duration, [te_data_dist_df])
te_data_full_df = ex.artifact('test_dist_dur_df.pkl', do_te_calcdur)

@jarvis.func
def test(model, data_df, testingy, scaler):
    import numpy as np
    data_df['duration'] = testingy
    def roundtime(tstring):
        hours, mins, secs = tstring.split(':')
        if int(mins) >= 30:
            if hours == '23':
                return '00'
            else:
                return str(int(hours) + 1)
        else:
            return hours
    def weekday(start):
        from datetime import datetime
        fmt = '%Y-%m-%d %H:%M:%S'
        tstamp = datetime.strptime(start, fmt)
        return int(tstamp.weekday())
    
    data_df['start_hr'] = data_df['pickup_datetime'].apply(lambda x: int(roundtime(x.split(' ')[1])))
    data_df['start_month'] = data_df['pickup_datetime'].apply(lambda x: int(x.split(' ')[0].split('-')[1]))
    data_df['start_weekday']= data_df['pickup_datetime'].apply(lambda x: weekday(x))
    
    
    preds = model.predict(data_df[['vendor_id', 'start_hr', 'start_month', 'start_weekday', 'distance', 
                     'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
                    'dropoff_latitude']].values)
    from sklearn import metrics
    import math
    score = metrics.explained_variance_score(data_df['duration'].values, preds)
    rmse = np.sqrt(metrics.mean_squared_error(data_df['duration'].values, preds))
    return str(score) + '\n' + str(rmse)


do_test = ex.action(test, [model, xTest, yTest, scaler])
score = ex.artifact('score.txt', do_test)

@jarvis.func
def comp_predictions(model, data_df, scaler):
    def roundtime(tstring):
        hours, mins, secs = tstring.split(':')
        if int(mins) >= 30:
            if hours == '23':
                return '00'
            else:
                return str(int(hours) + 1)
        else:
            return hours
    def weekday(start):
        from datetime import datetime
        fmt = '%Y-%m-%d %H:%M:%S'
        tstamp = datetime.strptime(start, fmt)
        return int(tstamp.weekday())
    
    data_df['start_hr'] = data_df['start_timestamp'].apply(lambda x: int(roundtime(x.split(' ')[1])))
    data_df['start_month'] = data_df['start_timestamp'].apply(lambda x: int(x.split(' ')[0].split('-')[1]))
    data_df['start_weekday']= data_df['start_timestamp'].apply(lambda x: weekday(x))
    
    predictions = (model.predict(data_df[['start_hr', 'start_month', 'start_weekday', 'distance']].values), data_df['duration'])
    return predictions

do_comp = ex.action(comp_predictions, [model, te_data_full_df, scaler])
preds = ex.artifact('predictions.pkl', do_comp)

In [33]:
score.pull()

In [8]:
cache = xTrain.peek()
cache

Empty DataFrame
Columns: [vendor_id, passenger_count, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, store_and_fwd_flag, pickup_datetime, distance]
Index: []

In [18]:
data_df = tr_data_dist_df.peek()

In [19]:
data_df[data_df['trip_duration'] >= 60*240]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,distance
531,id3307903,2,2016-02-20 04:03:06,2016-02-21 03:33:00,3,-74.008102,40.741489,-74.009956,40.714611,N,84594,0.028732
1134,id1091477,2,2016-05-07 18:36:22,2016-05-08 18:32:11,1,-73.990242,40.750919,-73.976280,40.750889,N,86149,0.013992
1865,id3431345,2,2016-06-07 12:58:48,2016-06-08 12:58:00,6,-73.954956,40.777649,-73.981033,40.743713,N,86352,0.060013
3442,id1487069,2,2016-02-13 00:21:49,2016-02-14 00:19:05,1,-73.968590,40.799217,-73.979584,40.784714,N,86236,0.025497
4172,id3674870,2,2016-03-18 11:54:20,2016-03-19 11:34:17,1,-73.989090,40.736992,-73.972336,40.751511,N,85197,0.031273
4336,id3632390,2,2016-06-08 08:54:33,2016-06-09 07:58:09,5,-73.980560,40.742466,-73.984718,40.748611,N,83016,0.010303
5104,id3354426,2,2016-05-05 15:18:41,2016-05-06 15:11:07,1,-73.989037,40.773514,-73.980682,40.781521,N,85946,0.016361
5778,id0773526,2,2016-04-02 14:58:45,2016-04-03 14:19:55,6,-73.987991,40.761341,-74.002922,40.756279,N,84070,0.019993
6132,id3617210,2,2016-03-15 17:51:32,2016-03-16 17:18:04,1,-73.965607,40.765781,-73.972649,40.753418,N,84392,0.019405
6513,id0067152,2,2016-02-27 21:04:05,2016-02-28 21:03:22,5,-73.993744,40.727444,-74.001335,40.729244,N,86357,0.009392
8511,id3013398,2,2016-05-17 12:43:48,2016-05-18 12:38:03,2,-74.002625,40.733620,-73.994484,40.750603,N,86055,0.025124
10146,id1148048,2,2016-06-04 14:22:55,2016-06-05 14:19:45,2,-74.002357,40.739872,-74.001556,40.746593,N,86210,0.007523
10150,id2500786,2,2016-05-09 18:14:42,2016-05-10 17:44:54,1,-73.863625,40.769665,-73.983864,40.773869,N,84612,0.124443
10498,id0843794,2,2016-01-08 08:09:48,2016-01-09 07:23:50,2,-73.995720,40.748940,-73.979897,40.752274,N,83642,0.019157
11666,id3375271,2,2016-05-20 11:38:47,2016-05-21 11:24:31,2,-73.969818,40.797249,-73.940460,40.819569,N,85544,0.051678
12665,id0614225,2,2016-03-25 20:01:22,2016-03-26 19:39:59,2,-74.001068,40.720123,-73.982193,40.757572,N,85117,0.056324
15063,id0222074,2,2016-06-26 11:55:51,2016-06-27 11:54:26,3,-74.015297,40.704903,-73.989761,40.757359,N,86315,0.077991
16415,id2891888,2,2016-06-05 10:26:37,2016-06-06 10:18:51,4,-73.955811,40.782352,-73.789894,40.643250,N,85934,0.305019
17810,id2647716,2,2016-03-26 22:27:58,2016-03-27 21:36:20,1,-74.000771,40.742290,-73.982498,40.739548,N,83302,0.021015
17934,id2538452,2,2016-04-24 01:51:06,2016-04-25 01:40:44,1,-73.990906,40.760845,-73.998161,40.745148,N,85778,0.022953
17996,id2090625,2,2016-02-16 15:01:25,2016-02-17 14:31:41,1,-73.964340,40.807751,-73.954910,40.803513,N,84616,0.013668
20153,id0463051,2,2016-02-02 01:45:11,2016-02-03 00:00:00,1,-73.870842,40.773754,-73.971695,40.748768,N,80089,0.125839
21058,id0587193,2,2016-05-23 18:01:22,2016-05-24 17:56:46,1,-73.997131,40.725399,-73.983231,40.726372,N,86124,0.014874
21304,id1428140,2,2016-03-04 08:15:24,2016-03-05 08:14:29,6,-74.002724,40.760632,-73.952957,40.777519,N,86345,0.066654
21846,id3244242,2,2016-06-03 17:14:02,2016-06-04 17:13:05,5,-73.999779,40.725471,-73.986832,40.759735,N,86343,0.047211
23270,id2354376,2,2016-01-31 10:29:49,2016-02-01 10:18:02,1,-73.984741,40.710239,-73.989548,40.740021,N,85693,0.034588
24450,id1237917,2,2016-06-22 01:46:24,2016-06-23 00:49:16,1,-73.976440,40.755257,-73.980293,40.748325,N,82972,0.010784
24679,id1907182,2,2016-01-16 00:36:13,2016-01-17 00:16:31,1,-73.987823,40.719940,-73.988014,40.748131,N,85218,0.028381
25532,id3234529,2,2016-05-08 14:21:14,2016-05-09 14:08:27,1,-73.966133,40.760872,-73.954399,40.773941,N,85633,0.024803
26557,id0868351,2,2016-05-07 01:32:28,2016-05-08 00:00:00,1,-73.989883,40.725674,-74.010094,40.711506,N,80852,0.034378
...,...,...,...,...,...,...,...,...,...,...,...,...
1435463,id1474449,2,2016-05-21 02:36:14,2016-05-22 02:33:34,1,-74.000931,40.718037,-73.983749,40.762863,N,86240,0.062008
1436551,id0582266,2,2016-01-10 11:37:31,2016-01-11 11:35:02,2,-73.978149,40.786018,-73.973610,40.794662,N,86251,0.013184
1436716,id1106820,2,2016-05-04 11:38:39,2016-05-05 11:35:55,1,-73.997536,40.725842,-74.001564,40.731018,N,86236,0.009205
1436956,id0832272,2,2016-04-27 11:29:23,2016-04-28 10:37:21,6,-74.004135,40.720856,-73.972771,40.760773,N,83278,0.071281
1436981,id3357420,2,2016-04-08 07:24:40,2016-04-09 06:55:25,5,-73.968742,40.758339,-73.957100,40.774639,N,84645,0.027943
1437110,id3833866,2,2016-05-08 18:42:23,2016-05-09 18:35:34,1,-73.994667,40.736286,-73.981285,40.723598,N,85991,0.026070
1437604,id0103586,2,2016-03-11 20:46:00,2016-03-12 20:45:17,1,-73.991409,40.750252,-73.999252,40.728313,N,86357,0.029781
1437745,id2960222,2,2016-01-15 14:35:09,2016-01-16 14:07:10,1,-73.981735,40.766766,-73.988411,40.746960,N,84721,0.026482
1438063,id3105059,2,2016-03-07 22:09:41,2016-03-08 21:57:04,5,-73.988815,40.720814,-73.967529,40.711147,N,85643,0.030952
1439547,id3868852,2,2016-01-11 15:01:51,2016-01-12 14:49:02,6,-73.954109,40.784679,-73.957420,40.775101,N,85631,0.012890
1440309,id0997380,2,2016-01-07 10:51:39,2016-01-08 10:17:00,1,-73.976578,40.747776,-73.992943,40.731518,N,84321,0.032623
1442072,id1043894,2,2016-06-07 11:25:01,2016-06-08 11:17:10,1,-73.969627,40.761280,-74.001152,40.727699,N,85929,0.065105
1442883,id2928125,2,2016-05-20 12:42:21,2016-05-21 12:32:30,6,-73.970253,40.784103,-73.959251,40.760464,N,85809,0.034641
1443791,id0996998,2,2016-04-28 17:12:48,2016-04-29 17:11:00,1,-73.975929,40.751373,-73.990356,40.735016,N,86292,0.030785
1444045,id1923527,2,2016-04-27 13:04:22,2016-04-28 12:33:57,1,-73.983505,40.758381,-74.004135,40.725517,N,84575,0.053493
1444214,id1875762,2,2016-05-19 21:15:05,2016-05-20 21:13:15,1,-73.985123,40.747837,-73.971428,40.756062,N,86290,0.021919
1445053,id3376262,2,2016-05-05 10:49:08,2016-05-06 09:21:34,1,-73.977226,40.753418,-73.996399,40.746906,N,81146,0.025684
1446506,id0523226,2,2016-04-17 16:47:50,2016-04-18 16:24:32,1,-73.862503,40.769100,-73.963364,40.712070,N,85002,0.157890
1446667,id0419910,2,2016-04-23 14:16:15,2016-04-24 13:27:13,6,-73.997131,40.742065,-74.002525,40.756077,N,83458,0.019405
1447498,id0026278,2,2016-01-31 01:04:39,2016-02-01 01:00:41,5,-73.953369,40.766369,-73.995171,40.761005,N,86162,0.047165
1449707,id1709052,2,2016-02-01 15:45:12,2016-02-02 15:27:48,1,-73.959915,40.779488,-73.972260,40.786655,N,85356,0.019512
1449829,id0111323,2,2016-04-09 12:35:23,2016-04-10 12:32:48,2,-73.995789,40.737968,-73.982239,40.766613,N,86245,0.042194
1450788,id0595947,2,2016-04-27 21:03:35,2016-04-28 20:15:17,6,-73.971359,40.765320,-73.984688,40.732834,N,83502,0.045815
1451365,id0159752,2,2016-02-14 12:16:35,2016-02-15 12:15:16,1,-73.959579,40.779926,-73.963333,40.775173,N,86321,0.008507
1454858,id2743253,2,2016-06-23 16:04:53,2016-06-24 16:01:33,1,-74.008759,40.719040,-73.972305,40.749691,N,86200,0.067104
1455097,id2798196,2,2016-03-20 03:51:36,2016-03-21 00:00:00,2,-73.969299,40.757301,-73.870277,40.709808,N,72504,0.146515
1456458,id2055880,2,2016-02-08 19:11:31,2016-02-09 19:08:44,3,-73.973282,40.760792,-73.988518,40.764210,N,86233,0.018654
1457207,id1910950,2,2016-06-08 16:29:12,2016-06-09 16:11:03,1,-73.958061,40.800869,-73.964119,40.805515,N,85311,0.010704
1457752,id1215198,2,2016-02-02 11:31:10,2016-02-03 11:29:44,6,-73.972069,40.794220,-73.961014,40.806728,N,86314,0.023563
1458076,id2332290,2,2016-04-24 00:58:34,2016-04-25 00:56:16,1,-73.990479,40.760876,-73.983025,40.764557,N,86262,0.011135

In [36]:
data_df['trip_duration'].apply(lambda x: math.log(x)).values

array([ 6.12029742,  6.49677499,  7.66105638, ...,  6.63856779,
        5.92157842,  5.28826703])

In [34]:
import math